@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #2d2013;
  --color-deep-primary: #23180d;
  --color-white: #ffffff;
  --color-red: #c52d2f;
  --color-black: #111111;
}
html {
  /* font-family: "Ms Madi", cursive; */
  font-size: 1.1rem;
}
body {
  min-height: 100vh;
  background: var(--color-deep-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 30px solid var(--color-red);
  padding: 30px;
  background: var(--color-black);
  /* text-align: center; */
  min-height: 400px;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.heading {
  font-size: 100px !important;
  color: var(--color-red);
}
.description {
  font-weight: 500;
  font-size: 50px;
  color: var(--color-red);
}

